body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    color:white;
}
.content{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(5,0.75fr);
}
.content > *{
    
    background-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0.7));
    border-radius:5px;
    border:2px solid black;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);
    grid-column:1/span 12;
}
.content > button{
    font-size:28px;
}
    #rock{
        grid-area:4/4/5/5;
    }
    #paper{
        grid-area:4/6/5/7;
    }
    #scissor{
        grid-area:4/8/5/9;
    }
.computer-choice{
    grid-area:2/4/3/6;
    justify-self: center;
}
.your-choice{
    grid-area:2/7/3/9;
    justify-self: center;
}
.result{
    grid-area:3/6/4/7;
    justify-self: center;
}